@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "YuGothic", "游ゴシック", sans-serif;
  line-height: 1.5555;
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  color: #3e3e3e;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}

.small__container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 40px;
}

@media screen and (max-width: 767px) {
  .small__container {
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

.wrapper {
  background: #f3f3f3;
}

header {
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  header {
    background: rgba(255, 255, 255, 0.8);
  }
}

@media screen and (min-width: 768px) {
  header .header__title {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header .header__title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    height: 68px;
    line-height: 68px;
    font-family: "Montserrat";
  }
}

header .header__list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  header .header__list {
    margin-top: 160px;
    flex-direction: column;
  }
}

header .header__list .header__item {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  header .header__list .header__item {
    margin: 32px 0 0 0;
  }
}

header .header__list .header__item:first-child {
  margin: 0;
}

header .header__list .header__item .header__item--link {
  display: block;
  height: 83px;
  line-height: 83px;
  font-family: "Montserrat";
  position: relative;
}

@media screen and (max-width: 767px) {
  header .header__list .header__item .header__item--link {
    height: 22px;
    line-height: 22px;
    padding: 0;
    text-align: center;
  }
}

header .header__list .header__item .header__item--link::before {
  position: absolute;
  content: "";
  background: #3e3e3e;
  width: 0;
  height: 1px;
  left: 50%;
  bottom: 28px;
  transform: translateX(-50%);
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  header .header__list .header__item .header__item--link::before {
    display: none;
  }
}

header .header__list .header__item .header__item--link:hover::before {
  width: 100%;
}

header .header__list .header__item .header__item--link.is-active::after {
  position: absolute;
  content: "";
  background: #3e3e3e;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 28px;
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  header .header__list .header__item .header__item--link.is-active::after {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .drawer--right .drawer-hamburger {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .drawer--right .drawer-hamburger {
    top: 5px;
    right: 5px;
  }
}

@media screen and (max-width: 767px) {
  .drawer--right .drawer-hamburger .drawer-hamburger-icon {
    height: 4px;
    border-radius: 50px;
  }
}

.drawer--right .drawer-hamburger .drawer-hamburger-icon::before, .drawer--right .drawer-hamburger .drawer-hamburger-icon::after {
  height: 4px;
  border-radius: 50px;
}

.drawer-open .drawer-hamburger-icon::before, .drawer-open .drawer-hamburger-icon::after {
  background: #ffffff;
}

.drawer-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.drawer--right .drawer-nav {
  z-index: 2;
}

.mv {
  background: url(../img/mv.png) center center/cover;
  padding-top: 68px;
}

@media screen and (max-width: 767px) {
  .mv {
    background: url(../img/mv.png) left 20% center/cover;
  }
}

.mv .mv__message {
  padding: 153px 0;
  width: 50%;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .mv .mv__message {
    padding: 160px 0 190px;
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.mv .mv__message .mv__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .mv .mv__message .mv__title {
    font-size: 24px;
    line-height: 1.6666;
    text-align: left;
  }
}

.mv .mv__message .mv__text {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .mv .mv__message .mv__text {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.4285;
    text-align: left;
  }
}

.btn__orange {
  display: inline-block;
  color: #ffffff;
  background: #ffaa3b;
  margin-top: 40px;
  padding: 16px 50px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4444;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  .btn__orange {
    margin-top: 30px;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 1.5;
    margin: 30px 0 auto;
  }
}

.btn__orange:hover {
  background: #f18900;
}

.news {
  background: #ffffff;
  margin-top: 120px;
  padding: 60px 60px 40px;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  .news {
    margin-top: -40px;
    padding: 40px 0;
  }
}

.section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2222;
  text-align: center;
  font-family: "Montserrat";
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 30px;
    line-height: 1.2333;
  }
}

.news__list {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .news__list {
    margin-top: 40px;
  }
}

.news__list .news__item {
  border-top: 1px solid #cecdcd;
}

.news__list .news__item:last-child {
  border-bottom: 1px solid #cecdcd;
}

.news__list .news__item .news__item--link {
  display: flex;
  padding: 30px 83px 30px 0;
  transition: all 0.4s;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .news__list .news__item .news__item--link {
    padding: 14px 55px 14px 16px;
    flex-direction: column;
  }
}

.news__list .news__item .news__item--link::after {
  position: absolute;
  content: "";
  background: url(../img/news-arrow.svg) center center/cover;
  width: 11px;
  height: 22px;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.news__list .news__item .news__item--link:hover {
  background: rgba(73, 115, 255, 0.1);
}

.news__list .news__item .news__item--link .news__item--header {
  display: flex;
  flex: 0 0 260px;
  height: 46px;
  line-height: 46px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .news__list .news__item .news__item--link .news__item--header {
    flex: 0 0 100%;
    margin-right: auto;
  }
}

.news__list .news__item .news__item--link .news__item--header .news__item--date {
  font-size: 18px;
  line-height: 1.4444;
  font-family: "Montserrat";
}

@media screen and (max-width: 767px) {
  .news__list .news__item .news__item--link .news__item--header .news__item--date {
    font-size: 14px;
    line-height: 1.4285;
  }
}

.news__list .news__item .news__item--link .news__item--header .news__item--category {
  font-size: 14px;
  line-height: 1.4444;
  padding: 6px 30px;
  border: 2px solid #4973ff;
  border-radius: 50px;
  margin-left: 40px;
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .news__list .news__item .news__item--link .news__item--header .news__item--category {
    font-size: 12px;
    line-height: 1;
    padding: 4px 16px;
    margin-left: 24px;
  }
}

.news__list .news__item .news__item--link .news__item--body {
  flex: 0 1 100%;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .news__list .news__item .news__item--link .news__item--body {
    margin: 12px auto 0 0;
  }
}

.news__list .news__item .news__item--link .news__item--body .news__item--text {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .news__list .news__item .news__item--link .news__item--body .news__item--text {
    font-size: 14px;
    line-height: 1.4285;
  }
}

.news__footer {
  margin-top: 40px;
  text-align: center;
}

.news__footer .btn {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.125;
  border: 1px solid #707070;
  padding: 20px 80px;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  display: inline-block;
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  .news__footer .btn {
    font-size: 14px;
    line-height: 1.25;
    padding: 16px 0;
    width: 80%;
  }
}

.news__footer .btn:hover {
  color: #ffffff;
  background: #3e3e3e;
}

.service {
  margin-top: 120px;
  padding-top: 60px;
  background: linear-gradient(#3e3e3e 400px, transparent 0);
}

@media screen and (max-width: 767px) {
  .service {
    margin-top: 60px;
    padding-top: 40px;
    background: linear-gradient(#3e3e3e 500px, transparent 0);
  }
}

.service .section__title {
  color: #ffffff;
}

.service .service__list {
  margin-top: 60px;
  background: #ffffff;
  padding: 60px 45px;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .service .service__list {
    flex-direction: column;
    margin-top: 40px;
    padding: 40px 16px;
  }
}

.service .service__list .service__item {
  flex: 0 0 230px;
}

@media screen and (max-width: 767px) {
  .service .service__list .service__item {
    flex: 0 0 100%;
    margin-top: 56px;
  }
  .service .service__list .service__item:first-child {
    margin: 0;
  }
}

.service .service__list .service__item .service__item--image {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  position: relative;
}

.service .service__list .service__item .service__item--image img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.service .service__list .service__item .service__item--title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  margin-top: 8px;
  font-family: "Montserrat";
}

@media screen and (max-width: 767px) {
  .service .service__list .service__item .service__item--title {
    line-height: 1.2;
  }
}

.service .service__list .service__item .service__item--text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7142;
}

.results {
  background: #3e3e3e;
  padding: 60px 0 60px 60px;
  margin: 120px 0 0 auto;
  color: #ffffff;
  max-width: calc(50vw + 600px);
}

@media screen and (max-width: 767px) {
  .results {
    padding: 40px 0 40px 16px;
    margin: 60px 0 0 0;
    max-width: 100%;
  }
}

.results .section__title {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .results .section__title {
    text-align: center;
  }
}

.results .swiper-container {
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .results .swiper-container {
    margin-top: 40px;
  }
}

.results .swiper-container .results__item {
  width: 400px !important;
  margin-right: 40px !important;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .results__item {
    width: 274px !important;
    margin-right: 20px !important;
  }
}

.results .swiper-container .results__item .results__item--link {
  display: block;
  transition: all 0.4s;
}

.results .swiper-container .results__item .results__item--link:hover {
  opacity: 0.7;
}

.results .swiper-container .results__item .results__item--link .results__body {
  color: #3e3e3e;
  background: #ffffff;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .results__item .results__item--link .results__body {
    padding: 12px;
  }
}

.results .swiper-container .results__item .results__item--link .results__body .results__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .results__item .results__item--link .results__body .results__title {
    font-size: 12px;
    line-height: 1.1428;
  }
}

.results .swiper-container .results__item .results__item--link .results__body .results__text {
  margin-top: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .results__item .results__item--link .results__body .results__text {
    margin-top: 12px;
    font-size: 12px;
  }
}

.results .swiper-container .swiper-pagination {
  position: static;
  margin: 40px 0 0 1px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .results .swiper-container .swiper-pagination {
    margin: 28px 0 0 0;
    text-align: center;
  }
}

.results .swiper-container .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ffffff;
  opacity: 1;
  margin-right: 16px;
}

.results .swiper-container .swiper-pagination-bullet-active {
  position: relative;
}

.results .swiper-container .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40%;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.results .results__footer {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .results .results__footer {
    margin-top: 28px;
    text-align: center;
    width: 95%;
  }
}

.results .results__footer .btn {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.125;
  border: 1px solid #ffffff;
  padding: 20px 80px;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  display: inline-block;
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  .results .results__footer .btn {
    font-size: 18px;
    line-height: 1.2777;
    padding: 16px 0;
    width: 90%;
  }
}

.results .results__footer .btn:hover {
  color: #3e3e3e;
  background: #ffffff;
}

.price {
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .price {
    margin-top: 40px;
  }
}

.price .price__table {
  margin-top: 60px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

@media screen and (max-width: 767px) {
  .price .price__table {
    margin-top: 40px;
  }
}

.price .price__table th,
.price .price__table td {
  border: 1px solid #707070;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2083;
  font-family: "Montserrat";
}

@media screen and (max-width: 767px) {
  .price .price__table th,
  .price .price__table td {
    font-size: 20px;
  }
}

.price .price__table th {
  width: 262px;
  padding: 16px 0;
  color: #ffffff;
  background: #3e3e3e;
}

@media screen and (max-width: 767px) {
  .price .price__table th {
    width: 30%;
    padding: 12px 20px;
  }
}

.price .price__table td {
  padding: 16px 40px;
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .price .price__table td {
    padding: 12px 20px;
  }
}

.price .price__text {
  margin-top: 12px;
  font-size: 12px;
  line-height: 1.6666;
}

@media screen and (max-width: 767px) {
  .price .price__text {
    margin-top: 8px;
  }
}

.bg__wrapper {
  position: relative;
  z-index: 0;
}

.bg__wrapper::before {
  position: absolute;
  content: "";
  background: #3e3e3e;
  top: 145px;
  bottom: 140px;
  left: 0;
  width: 76.5%;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .bg__wrapper::before {
    top: 55px;
    bottom: 0;
    width: 100%;
  }
}

.comments {
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .comments {
    margin-top: 60px;
  }
}

.comments .comments__wrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .comments .comments__wrapper {
    flex-direction: column;
  }
}

.comments .comments__wrapper .comments__textContents {
  flex: 0 1 55%;
  background: #ffffff;
  padding: 120px 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .comments .comments__wrapper .comments__textContents {
    flex: 0 0 100%;
    padding: 40px 20px;
  }
}

.comments .comments__wrapper .comments__textContents .section__title {
  text-align: left;
}

.comments .comments__wrapper .comments__textContents .comments__box {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .comments .comments__wrapper .comments__textContents .comments__box {
    margin-top: 40px;
  }
}

.comments .comments__wrapper .comments__textContents .comments__box .comments__image {
  flex: 0 0 100px;
}

@media screen and (max-width: 767px) {
  .comments .comments__wrapper .comments__textContents .comments__box .comments__image {
    flex: 0 0 60px;
  }
}

.comments .comments__wrapper .comments__textContents .comments__box .comments__text {
  flex: 0 1 100%;
  margin-left: 32px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .comments .comments__wrapper .comments__textContents .comments__box .comments__text {
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.4285;
  }
}

.comments .comments__wrapper .comments__picture {
  flex: 0 0 45%;
}

@media screen and (max-width: 767px) {
  .comments .comments__wrapper .comments__picture {
    display: none;
  }
}

.qa {
  margin-top: 120px;
  padding: 60px 0 120px;
  background: url(../img/qa-bg.png) top center/cover;
  background-attachment: fixed;
}

@media screen and (max-width: 767px) {
  .qa {
    margin-top: 40px;
    padding: 40px 0;
    background-attachment: scroll;
  }
}

.qa .qa__list {
  width: 51%;
  margin: 60px 0 0 auto;
}

@media screen and (max-width: 767px) {
  .qa .qa__list {
    width: 100%;
    margin: 40px 0 0 0;
  }
}

.qa .qa__list .qa__item {
  margin-top: 32px;
  background: #ffffff;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .qa .qa__list .qa__item {
    margin-top: 24px;
  }
}

.qa .qa__list .qa__item:first-child {
  margin: 0;
}

.qa .qa__list .qa__item .qa__header {
  padding: 18px 16px;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .qa .qa__list .qa__item .qa__header {
    padding: 16px;
  }
}

.qa .qa__list .qa__item .qa__header::before {
  position: absolute;
  content: "Q";
  font-family: "Montserrat";
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  font-weight: bold;
  color: #ffffff;
  background: #4973ff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
}

.qa .qa__list .qa__item .qa__header .qa__header--text {
  line-height: 1.5;
  font-weight: bold;
  margin-left: 40px;
}

.qa .qa__list .qa__item .qa__header .qa__header--inline {
  position: absolute;
  content: "";
  background: url(../img/plus.svg) no-repeat center center/cover;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 17px;
  height: 17px;
}

.qa .qa__list .qa__item .qa__header .qa__header--inline.is-open {
  background: url(../img/minus.svg) no-repeat center center/cover;
  height: 3px;
}

.qa .qa__list .qa__item .qa__body {
  padding: 0 16px 16px;
  display: none;
}

.qa .qa__list .qa__item .qa__body .qa__body--text {
  line-height: 1.5;
  border-radius: 4px;
  background: rgba(59, 105, 255, 0.2);
  padding: 16px;
}

.access {
  padding-top: 120px;
}

@media screen and (max-width: 767px) {
  .access {
    padding: 40px 0 60px;
  }
}

.access .access__wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 414px 1fr;
}

@media screen and (max-width: 767px) {
  .access .access__wrapper {
    display: block;
  }
}

.access .access__wrapper .access__textContents {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  color: #ffffff;
}

.access .access__wrapper .access__textContents .section__title {
  text-align: left;
}

.access .access__wrapper .access__textContents .access__text {
  margin-top: 60px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .access .access__wrapper .access__textContents .access__text {
    margin-top: 40px;
  }
}

.access .access__wrapper .access__iframe {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  height: 520px;
  box-shadow: 0 0 10px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  .access .access__wrapper .access__iframe {
    margin-top: 24px;
    height: 240px;
  }
}

.access .access__wrapper .access__iframe iframe {
  width: 100%;
  height: 100%;
}

.access .access__wrapper .access__footer {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .access .access__wrapper .access__footer {
    text-align: center;
    margin-top: 24px;
  }
}

.access .access__wrapper .access__footer .btn {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.125;
  border: 1px solid #ffffff;
  padding: 20px 80px;
  letter-spacing: 0.2em;
  font-family: "Montserrat";
  display: inline-block;
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  .access .access__wrapper .access__footer .btn {
    line-height: 1.2222;
    padding: 16px 0;
    width: 100%;
  }
}

.access .access__wrapper .access__footer .btn:hover {
  color: #3e3e3e;
  background: #ffffff;
}

.contact {
  padding: 60px 0;
  margin-top: 120px;
  background: url(../img/contact-bg.png) center center/cover;
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 40px 0;
    margin: 0;
  }
}

.contact .contact__header {
  padding: 60px 0;
  color: #ffffff;
  border-radius: 12px 12px 0 0;
  background: url(../img/contact1.png) center center/cover;
}

@media screen and (max-width: 767px) {
  .contact .contact__header {
    padding: 40px 16px;
  }
}

.contact .contact__header .contact__lead {
  margin-top: 16px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact .contact__header .contact__lead {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.4285;
    text-align: left;
  }
}

.contact .contact__body {
  padding: 60px 120px;
  background: #ffffff;
  border-radius: 0 0 12px 12px;
}

@media screen and (max-width: 767px) {
  .contact .contact__body {
    padding: 40px 12px;
  }
}

.contact .contact__body .contact__item {
  display: flex;
  margin-top: 32px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item {
    display: block;
  }
}

.contact .contact__body .contact__item:first-child {
  margin: 0;
}

.contact .contact__body .contact__item .contact__title {
  flex: 0 0 128px;
  font-weight: bold;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item .contact__title {
    flex: 0 0 100%;
  }
}

.contact .contact__body .contact__item .contact__title .contact__title--inline {
  font-size: 12px;
  color: #ffffff;
  background: #ff4646;
  padding: 2px 8px;
  margin-left: 12px;
  line-height: 1;
  display: inline-block;
  border-radius: 2px;
  vertical-align: text-bottom;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item .contact__title .contact__title--inline {
    margin-left: 20px;
  }
}

.contact .contact__body .contact__item .contact__input {
  flex: 0 1 100%;
  margin-left: 60px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item .contact__input {
    margin: 16px 0 0 0;
  }
}

.contact .contact__body .contact__item .contact__input input[type="text"],
.contact .contact__body .contact__item .contact__input input[type="email"],
.contact .contact__body .contact__item .contact__input textarea {
  width: 100%;
}

.contact .contact__body .contact__item .contact__input input[type="text"],
.contact .contact__body .contact__item .contact__input input[type="email"] {
  border: none;
  border-bottom: 1px solid #3e3e3e;
  padding: 3px 12px;
  height: 32px;
  line-height: 32px;
  letter-spacing: 0.1em;
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item .contact__input input[type="text"],
  .contact .contact__body .contact__item .contact__input input[type="email"] {
    padding: 0 0 5px 0;
  }
}

.contact .contact__body .contact__item .contact__input input[type="text"]:hover,
.contact .contact__body .contact__item .contact__input input[type="email"]:hover {
  border-bottom: 1px solid #4973ff;
}

.contact .contact__body .contact__item .contact__input input[type="text"]:hover + .contact__focusLine,
.contact .contact__body .contact__item .contact__input input[type="email"]:hover + .contact__focusLine {
  opacity: 1;
}

.contact .contact__body .contact__item .contact__input input[type="text"]:focus,
.contact .contact__body .contact__item .contact__input input[type="email"]:focus {
  outline: none;
  border-bottom: 1px solid #4973ff;
}

.contact .contact__body .contact__item .contact__input input[type="text"]:focus + .contact__focusLine,
.contact .contact__body .contact__item .contact__input input[type="email"]:focus + .contact__focusLine {
  opacity: 1;
}

.contact .contact__body .contact__item .contact__input .contact__focusLine {
  position: absolute;
  display: block;
  box-shadow: 0 2px 4px rgba(73, 115, 255, 0.6);
  width: 100%;
  height: 1px;
  transition: all 0.4s;
  opacity: 0;
}

.contact .contact__body .contact__item .contact__input textarea {
  height: 200px;
  resize: vertical;
  padding: 8px;
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item .contact__input textarea {
    height: 160px;
  }
}

.contact .contact__body .contact__item .contact__input textarea:hover {
  border: 1px solid #4973ff;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}

.contact .contact__body .contact__item .contact__input textarea:focus {
  outline: none;
  border: 1px solid #4973ff;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}

.contact .contact__body .contact__item .contact__input--select {
  position: relative;
}

.contact .contact__body .contact__item .contact__input--select::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 45%;
  transform: translateY(-50%) rotate(45deg);
  left: 152px;
  border-bottom: 2px solid #3e3e3e;
  border-right: 2px solid #3e3e3e;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item .contact__input--select::after {
    left: 93%;
  }
}

.contact .contact__body .contact__item .contact__input--select .contact__select {
  padding: 12px;
  line-height: 1.5;
  appearance: none;
  transition: all 0.4s;
  width: 178px;
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item .contact__input--select .contact__select {
    padding: 12px;
    width: 100%;
    font-size: 14px;
    line-height: 1.7142;
  }
}

.contact .contact__body .contact__item .contact__input--select .contact__select:hover {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

.contact .contact__body .contact__item .contact__input--select .contact__select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

.contact .contact__body .contact__item .contact__input--radio {
  display: flex;
}

.contact .contact__body .contact__item .contact__input--radio .contact__radio:last-child {
  margin-left: 40px;
}

.contact .contact__body .contact__item .contact__input--radio .contact__radio .contact__radio--form {
  opacity: 0;
}

.contact .contact__body .contact__item .contact__input--radio .contact__radio .contact__radio--form:checked + .contact__radio--label::after {
  opacity: 1;
}

.contact .contact__body .contact__item .contact__input--radio .contact__radio .contact__radio--label {
  position: relative;
}

.contact .contact__body .contact__item .contact__input--radio .contact__radio .contact__radio--label:hover::before {
  border: 1px solid #4973ff;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}

.contact .contact__body .contact__item .contact__input--radio .contact__radio .contact__radio--label:active::before {
  background: rgba(73, 115, 255, 0.2);
}

.contact .contact__body .contact__item .contact__input--radio .contact__radio .contact__radio--label::before {
  position: absolute;
  content: "";
  border: 1px solid #707070;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 50%;
  left: -26px;
  transform: translateY(-50%);
  transition: all 0.4s;
}

.contact .contact__body .contact__item .contact__input--radio .contact__radio .contact__radio--label::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 6px;
  height: 6px;
  top: 50%;
  transform: translateY(-50%);
  left: -22px;
  background: #4973ff;
  opacity: 0;
  transition: all 0.4s;
}

.contact .contact__body .contact__item--message {
  display: block;
}

.contact .contact__body .contact__item--message .contact__input {
  margin: 8px 0 0 0;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item--message .contact__input {
    margin: 16px 0 0 0;
  }
}

.contact .contact__body .contact__item--privacy {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item--privacy {
    margin-top: 32px;
  }
}

.contact .contact__body .contact__item--privacy .contact__checkbox {
  opacity: 0;
}

.contact .contact__body .contact__item--privacy .contact__checkbox:checked + .contact__checkbox--label::after {
  opacity: 1;
}

.contact .contact__body .contact__item--privacy .contact__checkbox--label {
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2222;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item--privacy .contact__checkbox--label {
    font-size: 16px;
    line-height: 1.5;
  }
}

.contact .contact__body .contact__item--privacy .contact__checkbox--label:hover::before {
  border: 1px solid #4973ff;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}

.contact .contact__body .contact__item--privacy .contact__checkbox--label:active::before {
  background: rgba(73, 115, 255, 0.2);
}

.contact .contact__body .contact__item--privacy .contact__checkbox--label::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -44px;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item--privacy .contact__checkbox--label::before {
    width: 18px;
    height: 18px;
  }
}

.contact .contact__body .contact__item--privacy .contact__checkbox--label::after {
  position: absolute;
  content: "";
  top: 40%;
  transform: translateY(-50%) rotate(-45deg);
  left: -40px;
  width: 12px;
  height: 6px;
  border-bottom: 2px solid #4973ff;
  border-left: 2px solid #4973ff;
  opacity: 0;
  transition: all 0.2s;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .contact__item--privacy .contact__checkbox--label::after {
    left: -41px;
  }
}

.contact .contact__body .btn__orange {
  background: #b2b2b2;
}

@media screen and (max-width: 767px) {
  .contact .contact__body .btn__orange {
    display: block;
    margin: 35px auto 0;
    padding: 16px 50px;
    line-height: 1.625;
  }
}

.contact .contact__body .btn__orange.-active {
  background: #ffaa3b;
  cursor: pointer;
}

.contact .contact__body .btn__orange.-active:hover {
  background: #f18900;
}

.contact__message {
  text-align: center;
  font-weight: bold;
  display: none;
}

.contact__message.-error {
  color: #ff4646;
}

footer {
  background: #3e3e3e;
  padding: 60px 0;
  color: #ffffff;
}

footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  footer .footer__wrapper {
    flex-direction: column;
    text-align: center;
  }
}

footer .footer__wrapper .footer__sns--list {
  display: flex;
}

@media screen and (max-width: 767px) {
  footer .footer__wrapper .footer__sns--list {
    justify-content: center;
  }
}

footer .footer__wrapper .footer__sns--list .footer__sns--item:last-child {
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  footer .footer__wrapper .footer__sns--list .footer__sns--item:last-child {
    margin-left: 50px;
  }
}

footer .footer__wrapper .footer__sns--list .footer__sns--item .footer__sns--link {
  color: #ffffff;
  font-size: 36px;
  opacity: 0.6;
  transition: all 0.4s;
}

footer .footer__wrapper .footer__sns--list .footer__sns--item .footer__sns--link:hover {
  opacity: 1;
}

footer .footer__wrapper .footer__list {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  footer .footer__wrapper .footer__list {
    margin-top: 42px;
  }
}

footer .footer__wrapper .footer__list .footer__item {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  footer .footer__wrapper .footer__list .footer__item {
    margin-top: 26px;
  }
}

footer .footer__wrapper .footer__list .footer__item:first-child {
  margin: 0;
}

footer .footer__wrapper .footer__list .footer__item .footer__item--link {
  color: #ffffff;
  transition: all 0.4s;
}

footer .footer__wrapper .footer__list .footer__item .footer__item--link:hover {
  opacity: 0.7;
}

footer .footer__wrapper .footer__title {
  font-weight: bold;
  font-size: 40px;
  font-family: "Montserrat";
  color: #e3e3e3;
}

@media screen and (max-width: 767px) {
  footer .footer__wrapper .footer__title {
    margin-top: 40px;
    font-size: 32px;
  }
}

footer .footer__wrapper .footer__copyright {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.25;
  font-family: "Montserrat";
  text-align: right;
}

@media screen and (max-width: 767px) {
  footer .footer__wrapper .footer__copyright {
    margin-top: 12px;
    text-align: center;
  }
}

.to__top {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  cursor: pointer;
  z-index: 2;
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  .to__top {
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 15px;
  }
}

.to__top:hover {
  opacity: 0.7;
}

.to__top.is-show {
  display: block;
}
